<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<!-- namespace의 값은 사용할 DAO의 풀패키지명 -->
<!-- application 내에서 중복 X -->
<!-- id는 DAO의 메서드명과 동일하게 -->
<mapper namespace="com.iu.start.member.BankMembersDAO">
	<select id="getLogin" parameterType="com.iu.start.member.BankMembersDTO" resultType="com.iu.start.member.BankMembersDTO">
		SELECT ID, NAME FROM BANKMEMBERS WHERE ID=#{id} AND PW=#{pw}
	</select>
	<insert id="setJoin" parameterType="com.iu.start.member.BankMembersDTO">
		INSERT INTO BANKMEMBERS VALUES (#{id},#{pw},#{name},#{email},#{phone}) 
	</insert>
		<select id="getSearchById" parameterType="java.lang.String" resultType="com.iu.start.member.BankMembersDTO">
		SELECT * FROM BANKMEMBERS WHERE ID like '%'||#{search}||'%' ORDER BY ID ASC
	</select>
</mapper>

