<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		     <mapper namespace="com.iu.start.bankBook.BankBookCommentDAO">
		     	<select id="getCommentListTotalCount" resultType="Long" parameterType="CommentPager">
		     		select count(num) from BB_COMMENT where bookNum=#{bookNum} ORDER BY NUM DESC
		     	</select>
				 <select id="getComment" parameterType="CommentPager" resultType="BankBookCommentDTO">
				 	select * from (select rownum R, N.* from 
					(select * from BB_COMMENT where booknum=#{bookNum} order by num desc)N)
					where R between #{startRow} and #{lastRow}
				 </select>
				 <select id="getCount" resultType="Long">
				 	select count(num) from BB_COMMENT
				 </select>
		     	<insert id="setCommentAdd" parameterType="BankBookCommentDTO">
				 	insert into BB_COMMENT
					values (BOARD_SEQ.NEXTVAL,#{bookNum},#{writer},#{contents},sysdate)
				 </insert>	
				 <delete id="setCommentDelete" parameterType="BankBookCommentDTO">
				 	delete BB_COMMENT where num = #{num}
				 </delete>
				 <update id="setCommentUpdate" parameterType="BankBookCommentDTO">
				 	update BB_COMMENT set contents=#{contents} where num=#{num}
				 </update>
		     </mapper>