<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		    <mapper namespace="com.iu.start.member.BankMembersDAO">
		    	<insert id="setAddFile" parameterType="MembersFileDTO">
		    		insert into memberfile values (FILE_SEQ.NEXTVAL,#{id},#{fileName},#{oriName})
		    	</insert>
		    
		    	<select id="getMyPage" parameterType="BankMembersDTO" resultMap="getMyPageResult">
						SELECT BM.ID, BM.NAME, BM.EMAIL, BM.PHONE, MF.fileNum, MF.filename, BA.accountnum, BB.BOOKNAME, BA.ACCOUNTDATE FROM bankmembers BM
						left join
						memberfile MF
						on BM.id = MF.id
						
						left JOIN
						BANKACCOUNT BA
						on BM.id = BA.userid
						
						left join
						bankbook BB
						on BA.booknum=BB.booknum
						where BM.id = #{id}
		    	</select>
		    	
		    	<resultMap type="BankMembersDTO" id="getMyPageResult">
		    		<id column="ID" property="id"/>
		    		<result column="NAME" property="name"/>
		    		<result column="EMAIL" property="email"/>
		    		<result column="PHONE" property="phone"/>
		    		<association property="membersFileDTO" javaType="MembersfileDTO">
		    			<id column="FILENUM" property="fileNum"/>
		    			<result column="FILENAME" property="fileName"/>
		    		</association>
		    		<collection property="bankAccountDTOs" javaType="List" ofType="BankAccountDTO">
		    			<id column="ACCOUNTNUM" property="accountNum"/>
		    			<result column="ACCOUNTDATE" property="accountDate"/>
		    			<association property="bankBookDTO" javaType="bankBookDTO">
		    				<result column="BOOKNAME" property="bookName"/>
		    			</association>
		    		</collection>
		    	</resultMap>
		    
		    	<select id="getLogin" parameterType="BankMembersDTO" resultMap="getLoginResult">
		    		select S.id, S.name, R.rolenum, R.rolename from
					        (select * from bankmembers B
					            inner join
					            member_role M
					            using (id)) S
					        inner join
					        role R
					        on S.id = id
					        where  S.id = #{id} and S.pw = #{pw}
					        order by R.rolenum ASC
		    	</select>
		    	
		    	<resultMap type="BankMembersDTO" id="getLoginResult">
		    		<id column="USERNAME" property="userName"/>
		    		<result column="NAME" property="name"/>
		    		<collection property="roleDTOs" javaType="List" ofType="RoleDTO">
		    			<id column="ROLENUM" property="roleNum"/>
		    			<result column="ROLENAME" property="roleName"/>
		    		</collection>
		    	</resultMap>
		    	
		    	<insert id="setJoin" parameterType="BankMembersDTO">
		    		INSERT INTO BANKMEMBERS VALUES (#{id},#{pw},#{name},#{email},#{phone})
		    	</insert>
		    	<select id="getSearchById" parameterType="String" resultType="BankMembersDTO">
		    		SELECT * FROM BANKMEMBERS WHERE ID like '%'||#{search}||'%' ORDER BY ID ASC
		    	</select>
		    </mapper>

		    